
.container {
    height: 100%;
    margin-left: 6em;
    margin-right: 6em;
    border: 5px solid var(--borderColor);
}

@media only screen and (max-width: 600px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}

