.container {
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 0.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.3em;
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;

}

.title button {
    position: absolute;
    top: 0;
    right: 0;
}

.title span{
    justify-self: center;
    text-align: center;
    font-size: 20px;
}

.informations {
    font-size: 14px;
}

.informations > span {

}